*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
    color: rgb(111, 111, 111);
}

header,
main,
footer {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    min-height: 90vh;
    padding: 1rem 2rem;
    margin: 0 auto;
}

h1 {
    color: rgb(85, 72, 109);
}

canvas {
    border: 1px solid rgb(0, 0, 0);
    /* display: inline-block; */
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    /* background-color: attr('data-color'); */
    position: relative;
    margin: 5px;
}

.box::before {
    color: #fff;
    font-size: 0.8rem;
    content: attr(data-label);
    position: absolute;
    width: 150px;
    top: 5px;
    left: 5px;
}

.box::after {
    color: #fff;
    font-size: 0.8rem;
    content: attr(data-color);
    position: absolute;
    width: 150px;
    bottom: 5px;
    left: 5px;
}